#previewImage {
    width: 200px;
    height: 200px;
    border: 1px solid black;

    margin-left: auto;
    margin-right: 10px;
    float: right;
}

#userImage {
    width: auto;
    height: auto;
}

#asciiArea {
    text-align: center;
    font-size: 8px;
    font-family: 'Courier New', Courier, monospace;
    visibility: hidden;
}

#ascii {
    text-align: center;
}

#Pannel {
    text-align: center;
    max-width: 600px;
    border: 1px solid rgb(102, 204, 255);
    margin: 50px auto;
    border-radius: 5px;
    height: auto;
    padding-bottom: 150px;
}

#pannelHeading {
    background: rgb(102, 204, 255);
    color: white;
    text-align: left;
    padding: 10px;
}

#table {
    text-align: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li {
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    border-right: 1px solid darkgray;
    cursor: pointer;
}

li:hover {
    background: darkgray;
    color: white;
}

hr {
    clear: left;
}

.boundingBox {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    width: 95%;
}

#url {
    width: 75%;
    height: 25px;
}

#submit {
    height: 30px;
}

#urlInput {
    text-align: center;
    font-weight: bold;
    margin: 10px auto;

    display: none;
}

#pictureInput {
    text-align: left;
    margin: 10px auto;

    display: block;
}

#options {
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

body {
    padding: 0;
    margin: 0;
}